<div class="page-title">
    <div class="title_left">
    <h3>历史订单</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="买家、订单号、图书名称" value="<%= table.globalName %>">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="historySearch(this)"> 搜索 </button>
            </span>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>订单号</th>
        <th>用户名</th>
        <th>商品名称</th>
        <th>商品图片</th>
        <th>收货人</th>
        <th>收货地址</th>
        <th>数量</th>
        <th>付款金额</th>
    </tr>
    </thead>
    <tbody>
        <% table.Data.forEach(function(item,index){ %>
            <tr>
                <th scope="row"><%= (table.pageNo*table.pageSize)+(index+1) %> %></th>
                <td width="80"><%= item.Trade_No %></td>
                <td width="100"><%= item.Username %></td>
                <td width="100"><%= item.BookName %></td>
                <td>
                    <img src="<%= item.BookPhoto %>" style="width:40px;height:40px;"/> 
                </td>
                <td><%= item.receiver %></td>
                <td><%= item.receiverAddress %></td>
                <td><%= item.Quantity %></td>
                <td width="140">RMB：<%= item.Total_Amount %>(元)</td>
            </tr>
        <% }) %>
    </tbody>
</table>

<% if (table.count>1) { %>
    <nav class="text-center">
        <ul class="pagination">
            <% if (table.pageNo==0) { %>
                <li class="disabled">
            <% }else{ %>
                <li>
            <% } %>
                <a href="<%= table.pageNo==0?'javascript:void(0)':'/'+table.url+'?pageNo='+(parseInt(table.pageNo)-1)%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for(var i=0;i<table.count;i++){ %>
                <% if (i==table.pageNo) { %>
                    <li class="active">
                <% }else{ %>
                    <li>
                <% } %>
                <a href="<%= '/'+table.url+'?pageNo='+ i %>"><%= i+1 %></a></li>
            <% } %>
            <% if (table.pageNo==(table.count-1)) { %>
                <li class="disabled">
            <% }else{ %>
                <li>
            <% } %>
                <a href="<%= table.pageNo==(table.count-1)?'javascript:void(0)':'/'+table.url+'?pageNo='+(parseInt(table.pageNo)+1)%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
<% } %>