<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <a href="/admin" class="site_title">后台管理</a>
    <br />
    <!-- menu profile quick info -->
    <div class="profile clearfix text-center">
      <img src="/<%= session.avatar|| 'images/default.jpg' %>" alt="..." class="img-circle profile_img">
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%= session.username|| '无名氏' %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>功能区</h3>
        <ul class="nav side-menu">
          <% menus.forEach(function(item){ %>
              <% if (item.active) { %>
                <li class="active">
                <a><i class="fa <%= item.icon %>"></i> <%= item.name %> <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: block;">
              <% }else{ %>
                <li>
                <a><i class="fa <%= item.icon %>"></i> <%= item.name %> <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
              <% } %>
                  <% item.child_menu.forEach(function(itemSelf){ %>
                    <% if (itemSelf.active) { %>
                      <li class="active">
                    <% }else{ %>
                      <li>
                    <% } %>
                    <a href="<%= itemSelf.href %>"><%= itemSelf.name %></a></li>
                  <% }) %>
                </ul>
              </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>