<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <% include common/carousel %>
        </div>

        <div class="col-md-3 col-sm-3">
            <% include common/tabList %>
        </div>
    </div>
    <!--图书列表-->
    <div class="row bookList">
        <div class="page-header" style="margin-left:15px;">
            <h2>独家特供 <small>
                <% bookList.forEach(function(item,index){ %>
                    &nbsp;<a href="javascript:void(0)" class="bookTypeLink"
                    <% if (index==0) { %> style="color:red;" 
                    <% } %>data-id="<%= item.Id %>" role="button"><%= item.Name %></a>
                <% }) %></small>
            </h2>
        </div>
        <% bookList.forEach(function(item,index){ %>
            <% if (item.Data&&item.Id==type) { %>
                <% item.Data.forEach(function(itemSelf){ %>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="<%= itemSelf.BookPhoto %>" title="<%= itemSelf.BookName %>" alt="<%= itemSelf.BookName %>" width="100%">
                            <div class="caption">
                                <p>单价：<%= itemSelf.Price %>&nbsp;&nbsp;&nbsp;数量：<%= itemSelf.Quantity %><br/>出版社：<%= itemSelf.PublishCompany %><br/>出版时间：<%= itemSelf.PublishTime %><br/><%= itemSelf.IsToCart==1?'热门商品':'普通商品' %><br/><%= itemSelf.Describe %></p>
                                <a href="javascript:void(0)" class="btn btn-primary" role="button"><%= item.Name %><span class="glyphicon glyphicon-leaf"></span></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        <% }) %>
    </div>
</div>

