<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <% include common/carousel %>
        </div>

        <div class="col-md-3 col-sm-3">
            <% include common/tabList %>
        </div>
    </div>
    <!--图书列表-->
    <div class="row bookList">
        <div class="page-header col-md-12">
            <h2>独家特供 <small>
                <% bookList.forEach(function(item,index){ %>
                    &nbsp;<a href="javascript:void(0)" class="bookTypeLink"
                    <% if (index==0) { %> style="color:red;" 
                    <% } %>data-id="<%= item.Id %>" role="button"><%= item.Name %></a>
                <% }) %></small>
            </h2>
        </div>
        <div class="col-md-12 text-center orderByBox" style="margin-bottom:20px;">
            <div class="col-md-4">
                销售量排序<a href="javascript:void(0)"><span class="glyphicon glyphicon-arrow-up" order-By='SaleNum' aria-hidden="true"></span></a>
            </div>
            <div class="col-md-4">
                收藏量排序<a href="javascript:void(0)"><span class="glyphicon glyphicon-arrow-up" order-By='CollectionNum' aria-hidden="true"></span></a>
            </div>
            <div class="col-md-4">
                价格排序<a href="javascript:void(0)"><span class="glyphicon glyphicon-arrow-up" order-By='Price' aria-hidden="true"></span></a>
            </div>
        </div>
        <% bookList.forEach(function(item,index){ %>
            <% if (item.Data&&item.Id==type) { %>
                <% item.Data.forEach(function(itemSelf){ %>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="<%= itemSelf.BookPhoto %>" title="<%= itemSelf.BookName %>" alt="<%= itemSelf.BookName %>" width="100%">
                            <div class="caption">
                                <p>图书名称：<a href="/goodsDetail?id=<%= itemSelf.BookId %>" title="<%= itemSelf.BookName %>"><%= itemSelf.BookName.length>7?itemSelf.BookName.substring(0,7)+'...':itemSelf.BookName %></a><br/><%- itemSelf.Name?"图书类型：<span class='text-danger'>"+itemSelf.Name+"</span><br/>":'' -%>单价：<%= itemSelf.Price %>&nbsp;&nbsp;&nbsp;数量：<%= itemSelf.Quantity %><br/>出版社：<%= itemSelf.PublishCompany %><br/>出版时间：<%= itemSelf.PublishTime %><br/><%= itemSelf.IsHot==1?'热门商品':'普通商品' %><br/><%= itemSelf.Describe %></p>
                                <a href="/goodsDetail?id=<%= itemSelf.BookId %>" class="btn btn-primary" role="button"><%= item.Name %><span class="glyphicon glyphicon-leaf"></span></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        <% }) %>
    </div>
</div>

