<div class="jumbotron bck margin-top-70">
    <div class="container">
        <div class="row-fluid">
            <img class="pull-left" src="images/logo1.png" alt="logo" style="width:150px;height:130px;cursor:pointer;">
            <div class="pull-right" style="padding-top:40px">
                <div>
                    <span class="label label-danger">热门标签：</span>
                    <% labels.forEach(function(label,index){ %>
                        <% if (index<=4) { %>
                            <a href="/search?typeId=<%= label.Id %>" title="<%= label.Name %>" class="badge badge-info"><%= label.Name %></a>
                        <% } %>
                    <% }) %>
                </div>
                <form class="form-inline text-right" style="margin-top:3px">
                    <div class="form-group">
                        <input class="form-control" placeholder="请输入关键词" type="text" maxlength="50" autocomplete="off"/>
                        <div class="btn-group">
                            <% if (goods.typeId==-1) { %>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">所有消息&nbsp;<span class="caret"></span></button>
                            <% }else{ %>
                                <% labels.forEach(function(item,index){ %>
                                    <% if (item.Id==goods.typeId) { %>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= item.Name %>&nbsp;<span class="caret"></span></button>
                                    <% } %>
                                <% }) %>
                            <% } %>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" class="searchName" data-typeId="-1">所有消息</a></li>
                                <% labels.forEach(function(label){ %>
                                    <li><a href="javascript:void(0)" class="searchName" data-typeId="<%= label.Id %>"><%= label.Name %></a></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger searchResult" data-typeId="<%= goods.typeId %>">搜索</button>
                </form>
            </div>
        </div>
    </div>
</div>