<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">个人信息</a></li>
    <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">收藏商品</a></li>
    <li role="presentation"><a href="#orderHistory" aria-controls="orderHistory" role="tab" data-toggle="tab">历史订单</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content personInfo">
    <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="profile">
            <img src="<%= session.avatar|| 'images/default.jpg' %>" title="<% session.username %>"/>
            <input type="file" accept="image/*" class="uploadFile" name="Avatar" value=""/>
            <div class="imgTip">点击头像进行上传</div>
            <span class="label label-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<%= session.username||'某某' %></span>
            <span class="label label-info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<%= session.email||'xxxxxxx@qq.com' %></span>
            <button type="button" class="btn btn-primary" style="margin:20px 0px;">保存更改</button>
            <%- session.IsAdmin==1?'<a href="/admin">进入后台管理界面</a>':'' %>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane text-center" id="other">
        <% if (collection.length!=0) { %>
            <table class="table" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>商品图片</th>
                            <th>商品名称</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% collection.forEach(function(item,index){ %>
                            <tr>
                                <th scope="row"><%= index+1 %></th>
                                <td>
                                    <img src="<%= item.BookPhoto %>" style="width:40px;height:40px;"/> 
                                </td>
                                <td width="150"><%= item.BookName %></td>
                                <td><%= item.Price %></td>
                                <td><%= item.Quantity %></td>
                                <td>
                                    <a href="/goodsDetail?id=<%= item.BookId %>" class="btn btn-primary" role="button">查看详情</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
        <% } else { %>
            没有收藏的商品！！
        <% } %>
    </div>
    <div role="tabpanel" class="tab-pane text-center" id="orderHistory">
        <% if (orderHistory.length!=0) { %>
            <table class="table" style="margin-top:20px;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>订单号</th>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>收货人</th>
                            <th>收货地址</th>
                            <th>数量</th>
                            <th>付款金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orderHistory.forEach(function(item,index){ %>
                            <tr>
                                <th scope="row"><%= index+1 %></th>
                                <td width="80"><%= item.Trade_No %></td>
                                <td width="100"><%= item.BookName %></td>
                                <td>
                                    <img src="<%= item.BookPhoto %>" style="width:40px;height:40px;"/> 
                                </td>
                                <td><%= item.receiver %></td>
                                <td><%= item.receiverAddress %></td>
                                <td><%= item.Quantity %></td>
                                <td width="140">RMB：<%= item.Total_Amount %>(元)</td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
        <% } else { %>
            没有历史订单！！
        <% } %>
    </div>
  </div>
