<% if (search.Data.length!=0) { %>
    <div class="row">
        <% search.Data.forEach(function(item,index){ %>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="<%= item.BookPhoto %>" title="<%= item.BookName %>" alt="<%= item.BookName %>" width="100%">
                    <div class="caption">
                        <p>单价：<%= item.Price %>&nbsp;&nbsp;&nbsp;数量：<%= item.Quantity %><br/>出版社：<%= item.PublishCompany %><br/>出版时间：<%= item.PublishTime %><br/><%= item.Describe %></p>
                        <div class="text-right"><a href="/goodsDetail?id=<%= item.BookId %>" class="btn btn-primary" role="button">查看详情&nbsp;<span class="glyphicon glyphicon-hand-right"></span></a></div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <% if (search.count!=0) { %>
        <nav class="text-center">
            <ul class="pagination">
                <% if (search.pageNo==0) { %>
                    <li class="disabled">

                <% }else{ %>
                    <li>
                <% } %>
                    <a href="javascript:void(0)" class="pagePrevious" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <% for(var i=0;i<search.count;i++){ %>
                    <% if (i==search.pageNo) { %>
                        <li class="active" data-id="<%= search.typeId+','+i %>"><a href="/search?id=<%= search.typeId %>&pageNo=<%= i %>"><%= i+1 %></a></li>
                    <% }else{ %>
                        <li data-id="<%= search.typeId+','+i %>"><a href="/search?id=<%= search.typeId %>&pageNo=<%= i %>"><%= i+1 %></a></li>
                    <% } %>
                <% } %>
                <% if (search.pageNo==(search.count-1)) { %>
                    <li class="disabled">
                <% }else{ %>
                    <li>
                <% } %>
                    <a href="javascript:void(0)" class="pageNext" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    <% } %>
<% } else { %>
    <p class="lead">没有搜索到<mark>结果</mark></p>
<% } %>
