<% if (shopcarts.data.length!=0) { %>
    <form id="shopcarts">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% shopcarts.data.forEach(function(item,index){ %>
                    <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td>
                            <img src="<%= item.BookPhoto %>" style="width:40px;height:40px;"/> 
                        </td>
                        <td width="150"><%= item.Name %></td>
                        <td><%= item.Price %></td>
                        <td>
                            <div class="form-inline">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default addQuantity" aria-label="Bold">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <input type="text" onkeypress="return event.keyCode>=48&&event.keyCode<=57" placeholder="请输入数量" maxlength="10" class="form-control text-center" value="<%= item.Quantity %>">
                                    <button type="button" class="btn btn-default reduceQuantity" aria-label="Bold">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" data-obj="<%= JSON.stringify(item) %>" class="btn btn-primary">编辑</button>
                            <button type="button" data-id="<%= item.cartId %>" class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                <% }) %>
                <tr>
                    <td>#</td>
                    <td colspan="5" class="text-danger" style="font-size:24px;">总价:<span class="glyphicon glyphicon-yen"></span><span class="shopcartTotal"><%= shopcarts.TotalPrice %></span></td>
                </tr>
            </tbody>
        </table>
        <p class="text-right"><button type="submit" class="btn btn-danger">去支付&nbsp;<span class="glyphicon glyphicon-random"></span></button></p>
    </form>
<% } else { %>
    <p class="lead">购物车没有东西！！ <mark>nothing</mark></p>
<% } %>