<div>
    <!--tablist start-->
    <ul class="nav nav-tabs" role="tablist">
        <li class="text-error"><h4>排行预览&nbsp;&nbsp;</h4></li>
        <% tabList.forEach(function(item,index){ %>
            <% if (index==0) { %>
                <li class="active">
            <% } else { %>
                <li>
            <% } %>
            <a href="<%= '#'+item.id %>" onClick="return false;" data-toggle="tab"><%= item.name %></a>
        </li>
        <% }) %>
    </ul>

    <!-- Tab panes start -->
    <div class="tab-content">
        <% tabList.forEach(function(tab,z){ %>
            <% if (z==0) { %>
                <div role="tabpanel" class="tab-pane active" id="<%= tab.id %>">
            <% } else { %>
                <div role="tabpanel" class="tab-pane" id="<%= tab.id %>">
            <% } %>
            <div class="list-group">
                <% tab.list.forEach(function(i,index){ %>
                    <a href="/goodsDetail?id=<%= i.Id %>" class="list-group-item" title="<%= i.Name %>">
                        <% if(index ==0) { %>
                            <span class="badge pull-left" style="background-color:#FF858E;">&nbsp;<%= index+1 %>&nbsp;&nbsp;</span>
                        <% } else if(index==1) { %>
                            <span class="badge pull-left" style="background-color:#77D549;">&nbsp;<%= index+1 %>&nbsp;&nbsp;</span>
                        <% } else if(index==2) { %>
                            <span class="badge pull-left" style="background-color:#62C1FF;">&nbsp;<%= index+1 %>&nbsp;&nbsp;</span>
                        <% } else { %>
                            <span class="badge pull-left" style="background-color:#979598;">&nbsp;<%= index+1 %>&nbsp;&nbsp;</span>
                        <% } %>&nbsp;
                        <%= i.Name.length>12?i.Name.substring(0,12)+'...':i.Name %>
                    </a>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>
    <!-- end Tab panes -->
    <!--end tablist-->
</div>