<% include ../common/header %>
<% include ../common/nav %>

<div class="container" style="margin-top:85px;margin-bottom:15px;">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb shadow-frame">
                你现在正在浏览：
                <li><a href="/">首页</a></li>
                <li class="active">确认订单</li>
            </ol>
        </div>
        
        <% orderList.forEach(function(item,index){ %>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img src="<%= item.BookPhoto %>" alt="<%= item.BookName %>">
                </a>
            </div>
            <div class="col-md-8 col-sm-6 text-center">
                <p>图书名称：<a href="/goodsDetail?id=<%= item.BookId %>" class="text-danger"><%= item.BookName %></a></p>
                <p class="text-info">作者：&nbsp;<%= item.Author %></p>
                <p class="text-info">价格：&nbsp;<%= item.Price %></p>
                <p class="text-info">数量：&nbsp;<%= item.Quantity %></p>
                <p class="text-info">isbn：&nbsp;<%= item.Isbn %></p>
                <p class="text-info">描述：&nbsp;<%= item.Describe %></p>
                <p class="text-info">出版时间：&nbsp;<%= item.PublishTime %></p>
                <p class="text-info">出版社：&nbsp;<%= item.PublishCompany %></p>
            </div>
            <%- index==orderList.length-1?'<div class="col-md-12 col-sm-12 text-right lead text-danger"><hr/>总价：'+sum+'</div>':'<div class="col-md-12 col-sm-12"><hr/></div>' %>
        <% }) %>
        <div class="col-md-12 col-sm-12">
            <button type="button" class="btn btn-success addressOrder"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;添加地址</button>&nbsp;<span class="text-danger">(默认地址 即为 收货地址)</span>
        </div>
        <div class="col-md-12 col-sm-12 addressList">
            <% addressList.forEach(function(item,index){ %>
                <div class="addressBox itemBox">
                    <div class="address_middle">
                        <div class="addressBox">
                            <span><%= item.Name %></span>
                            <span><%= item.Phone %></span>
                        </div>
                        <div class="addressBox">
                            <span><%= item.Address %></span>
                            <span><%- item.IsDefault==1?'<img src="images/defaultAddress.png"/>默认地址':'' %></span>
                        </div>
                    </div>
                    <div class="rightEdit nowrap">
                        <button type="button" data-obj="<%= JSON.stringify(item) %>" class="btn btn-primary editAddress">编辑</button>
                        <button type="button" class="btn btn-danger" data-id="<%= item.Id %>">删除</button>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="col-md-12 col-sm-12 text-right" style="margin-bottom:100px;padding-top:10px;border-top:2px solid #a94442;">
            <button type="button" class="btn btn-danger btn-lg paymoney" style="padding-left:40px;padding-right:40px;">支付&nbsp;<span class="glyphicon glyphicon-arrow-right" style="top:2px"></span></button>
        </div>
    </div>
</div>
<!-- 公用的模态框 -->
<div id="confirmOrder" class="modal fade bs-example-modal-lg" tabindex="3">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          Modal Body
        </div>
      </div>
    </div>
</div>
<div class="footer" style="position:fixed;bottom:0px;left:0px;">
    <div class="container">
        Copyright &copy <%= new Date().getFullYear() %> 文观书城
    </div>
</div>
<!--返回顶部-->
<div class="xiangshang" id="xiangshang" title="返回顶部"></div>
<script src="js/main.js"></script>
</body>
</html>